
body,html{
    background-color: #F5FAFE;
    font-family: Muli;
    margin: 0;
    padding: 0;
}

.headcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navtop{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    width: 100%;
    background-color: white;
    height: 120px;
    display: flex;
    align-items: center;
}

.divh1 {
    margin-left: 10%;
}

.divh2 {
    margin-right: 10%;
}

.question{
    font-size: 10px; 
}

.gift{
    font-size: 10px;
}
.BTP{
    margin-left: 20px;
    width: 64px;
    height: 13px;
    font-size: 10px;
}
.star{
    margin-left: 98px;
}
.loyalty{
    margin-left: 20px;
    width: 77px;
    height: 13px;
    font-size: 10px;
}
.best{
    margin-left: 10%;
    width: 177px;
    height: 24px;

}
.searchbutton {
    position:relative;
    margin-left: 12%;
}
#search{  
    width: 285px;
    height: 38px;
    border-width: 0px;
    background-color: #F5FAFE;
}

#button{
    background-color: #EC1F46;
    border-width: 0px;
    width: 65px;
    height: 40px;
    border-radius: 0px 6px 6px 0px;   
}
.cart{
    position: relative;
    margin-left: 23%;
}
.circle{
    display: flex;
    background-color: #EC1F46;
    background-size: cover;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.avatar{
    position: relative;
    margin-left: 6%;
}
.name{
    position:relative;
    margin-left: 16px;
    font-size: 14px;
}
.bottom_Arrow{
    position: relative;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
.navbarBottom {
    background-color: #0A223D ;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;   
}
.menu{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadCrumb{
    margin-left: 10%;
    font-size: 10px;
    margin-top: 18px;
    color: #333333
}
.hotelName{
    margin-left: 10%;
    margin-top: 24px;
    display:flex;
    flex-direction: column;
}
.stars{
    margin-top: 18px;
}
.GrandHiltonHotel{
    margin-top: 4px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}
.flashOffer{
    font-size: 10px;
    background-color: #EC1F46;
    color: white;
    width: 58px;
    height: 14px;
    padding: 3px 6px;
    border-radius: 3px;
    align-self: center;
    margin-left: 14px;

}
.hotelText{
    font-size: 12px;
    color:#333333;
}

.userRatings {
    width: 65px;
    height: 45px;
    background-color: #EC1F46;
    color: white;
    font-size: 8px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 65%;
}

.ur1 {
    font-size: 14px;
}

.ur2 {
    font-size: 10px;
}